<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>rest.modelo.controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>rest.modelo.controlador.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restaurar</servlet-name>
        <servlet-class>rest.modelo.controlador.Restaurar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paginas</servlet-name>
        <servlet-class>rest.modelo.controlador.Paginas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mantenimiento</servlet-name>
        <servlet-class>rest.modelo.controlador.Mantenimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permisos</servlet-name>
        <servlet-class>rest.modelo.controlador.Permisos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visitas</servlet-name>
        <servlet-class>rest.modelo.controlador.Visitas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incidencias</servlet-name>
        <servlet-class>rest.modelo.controlador.Incidencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Seguridad</servlet-name>
        <servlet-class>rest.modelo.controlador.Seguridad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>rest.modelo.controlador.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restaurar</servlet-name>
        <url-pattern>/restaurar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paginas</servlet-name>
        <url-pattern>/paginas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mantenimiento</servlet-name>
        <url-pattern>/mantenimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permisos</servlet-name>
        <url-pattern>/permisos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visitas</servlet-name>
        <url-pattern>/visitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incidencias</servlet-name>
        <url-pattern>/incidencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Seguridad</servlet-name>
        <url-pattern>/seguridad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
